.main {
  width: 100%;
  background-color: rgba(7, 16, 48, 1);
  clip-path: polygon(0 5%, 100% 0%, 100% 95%, 0% 100%);
  font-family: Arial, Helvetica, sans-serif;
}
.contact-form {
  width: 100%;
  display: flex;
  justify-content: center;
}
.partner {
  width: 30%;
  text-align: justify;
  margin: 40px 30px;
  color: #ffffff;
}
.partner-info {
  display: flex;
}
.partner-details h1 {
  color: #ffffff;
}
.partner-details p {
  font-size: 10px;
}
.partner-img {
  width: 100px;
  height: 100px;
}
.partner-info ul li {
  list-style: none;
  padding: 5px 0;
  font-size: 10px;
}
.form {
  width: 40%;
  padding: 25px 10px;
  padding-bottom: 40px;

}
.form-details {
  padding: 0px 20px;
  color: #1e1540;
}

.form-details h5 {
  font-size: 14px;
  font-weight: 900;
}

.form .form-details label {
  color: rgba(7, 16, 48, 1);
  font-weight: 900;
  font-size: 13px;
  text-transform: uppercase;
}

.form .form-details input {
  width: 100%;
  border: none;
  border-bottom: 1px solid #929598;
  background-color: transparent;
  outline: none;
  height: 20px;
  border-radius: 0;
  padding:0px 0px;
}
.form .form-details label{
  padding: 0px 0px 0px;
}
.ant-form-vertical .ant-form-item-label{
  padding: 0 0 0;
}
.form .form-details input:focus {
  border-color: inherit;
  outline: none;
  border-right-width: 0;
  box-shadow: none;
}

.form .form-details input:hover{
  border-color: #929598;
  border-right-width: 0;
  box-shadow: none;
}

.social-icons {
  width: 30%;
  display: flex;
  margin-left: 27px;
}

.social-icons div {
  padding: 0 10px;
  cursor: pointer;
}

/* .primary-button {
  min-width: 130px;
  background-color: #7955ff;
  border-radius: 28px;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 8px;
  font-weight: bold;
  padding: 8px 0;
  text-decoration: none;
  border: none;
} */

.form-submit-btn {
  left: 50%;
  bottom: -10px;
  transform: translateX(-50%) translateY(10px);
  font-weight: 900;
  min-width: 130px;
  background-color: #7955ff;
  padding: 8px 0;
  border: none;
}

.form-submit-btn:hover{
  background-color: #7955ff;
}

@media screen and (max-width: 768px) {
    .form-submit-btn {
        transform: translateX(-50%);
    }
}
