.ant-card{
    border: none;
    margin-top: 50px;
}
.ant-card-body{
    padding: 0px !important; 
}
.news-container{
    background-color: white;
}
.DraftEditor-root{
    background-color: #fff;
    height: 130px;
}