.header {
    background: rgb(7,49,177);
    background: linear-gradient(178.5deg, rgba(7,49,177,1) 0%, rgba(7,44,157,1) 0%, rgba(7,16,48,1) 56%, rgba(239,239,241,1) 57%);
}

.main-menu {
    display: flex;
}

.logo {
    width: 140px;
}

.nav-menu {
    width: calc(100% - 140px);
    padding-left: 20px;
}

.nav-menu .nav-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-menu .nav-item.nav-one {
    height: 90px;
}

.nav-menu .nav-item.nav-two {
    height: 50px;
}

.nav-menu .nav-item ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-menu .nav-item ul li {
    display: inline-block;
    margin: 10px;
}

.nav-menu .nav-item.nav-one ul li a {
    display: flex;
    color: #ffffff;
}

.nav-menu .nav-item.nav-two ul li a {
    display: flex;
    color: #071a57;
}

/* .nav-menu .nav-item .extra {

} */
