header
{
    position: absolute;
    background: rgb(7,49,177);
    background: linear-gradient(178.5deg, rgba(7,49,177,1) 0%, rgba(7,44,157,1) 0%, rgba(7,16,48,1) 56%, rgba(239,239,241,1) 57%);
    top:0;
    left: 0;
    padding: 0 112px;
    width: 100%;
    height: 160px;
    box-sizing: border-box;
    font-family: Arial;
}

.logo{
    position: absolute;
    width: 180px;
    height: 180px;
    display: inline-block;
    overflow: hidden;
    margin-left: 300px;

}

header nav{
    text-align: center;
    width: 600px;
    margin-left: 420px;
    margin-top: 30px;
    display: block;
}
 
 header nav ul li{
     display: inline;
 }
 header nav ul li a{
     text-decoration: none;
     padding: 5px 12px;
     color: white;
    font-weight: bold ;
    font-size: 13px;
}
header nav ul li a:hover,
header nav ul li a:active{
    border-bottom: 5px dotted white;
    color: white;

}

.main-navbar{
    width: 1000px;
    margin-left: 460px;
    margin-top: 60px;

}

.main-navbar li{
    display: inline;
    padding: 0 6px;
}

.main-navbar li a{
    text-decoration: none;
     padding: 5px 13px;
    font-weight: bold ;
    font-size: 17px;
    color: rgb(7,49,177);
}

.flex{
    display: flex;
}

.navbar-container{
    width: 700px;
}

.pricing-button-container{
    width:200px;
}

.pricing-table-button{
    background-color:#5b4cdffa;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:28px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
    font-family:Arial;
    text-align: center;
    font-size:17px;
	font-weight:bold;
	padding: 10px 53px;
    text-decoration:none;
    margin-left: 10px;

}

.menu-toggle{
    color: white;
    cursor: pointer;
    font-size: 27px;
    float: right;
    display: block;
}

.button{
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    color: white;
  }
  .signInButton{
    border-radius: 60px;
    padding: 5px 40px;
    text-align:  center;
    margin-left: 55px;
    font-weight: bold;
    background-color: #f2f2f2;
  }
.buttonContainer{
    width: fit-content;
    float: right;
    display: block;
    transform: translate(-50%, -470%)
}

@media (max-width: 991px){
    header{
        padding: 25px 27px;
        height: 100vh;
    }
    .menu-toggle{
        transform: translate(-50%);
        display: block;
    }
    .buttonContainer{
        display: none;
    }
    header nav{
        position: absolute;
        width:100%;
        height: 700px;
        background-color: #1b3c70;
        margin-left: 0;
        left: 0;
        transition: 0.5s;
        
    }
    .logo{
        display: none;
    }
    .pricing-button-container{
        display: none;
    }
    .main-navbar{
        display: none;
    }
    header nav ul li{
        display: block;
        padding: 15px;
    }
}
