.header-content {
	padding-top: 40px;
}

.partner-item {
	margin-bottom: 30px;
}

/*.partner-header-bg {
	background: url('../images/partner-header.png');
	background-size: cover;
	background-position: center;
	display: block;
	width: 100%;
	height: 100%;
}*/